<!DOCTYPE html>
<html lang="ja">

<head>
    <title>連番を簡単に生成！！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Le7XEQnAAAAAOHQTPL4EgOU5qqomkPYU5DybUib"></script> <script> function onSubmit(token) { document.getElementById("demo-form").submit(); } </script> <script> function onClick(e) { e.preventDefault(); grecaptcha.enterprise.ready(async () => { const token = await grecaptcha.enterprise.execute('6Le7XEQnAAAAAOHQTPL4EgOU5qqomkPYU5DybUib', {action: 'LOGIN'}); // IMPORTANT: The 'token' that results from execute is an encrypted response sent by // reCAPTCHA Enterprise to the end user's browser. // This token must be validated by creating an assessment. // See https://cloud.google.com/recaptcha-enterprise/docs/create-assessment }); } </script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
</head>

    <body class="no-theme">
        <div class="pure-g h-box" id="search-widget">
            <div class="pure-u-1" id="logo">
                <h1 href="/" class="pure-menu-heading">Yuki Youtube</h1>
            <a href="/bbs">掲示板/YukiBBS</a><br><a href="https://amagami-youtube.github.io/p/instance/">インスタンス一覧</a>
            </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1 pure-u-md-12-24 searchbar">
                <form class="pure-form" action="/search" method="get">
                    <fieldset>
                        <input type="search" id="searchbox" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" autofocus="" name="q" placeholder="検索" title="検索" value="">
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4"></div>
            
        </div>
        <script>$('#searchbox').autocomplete({
            source: function (request, response) {
                {
            var url = "/suggest?keyword="+ request.term
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.onload = function() {
                response(JSON.parse(xhr.responseText));
            }
            xhr.send();
        }},delay:300});</script>
    </body>

</html>
