<!DOCTYPE html>
<html lang="ja">
<head>
    <title>連番を簡単に生成！！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Le7XEQnAAAAAOHQTPL4EgOU5qqomkPYU5DybUib"></script> <script> function onSubmit(token) { document.getElementById("demo-form").submit(); } </script> <script> function onClick(e) { e.preventDefault(); grecaptcha.enterprise.ready(async () => { const token = await grecaptcha.enterprise.execute('6Le7XEQnAAAAAOHQTPL4EgOU5qqomkPYU5DybUib', {action: 'LOGIN'}); // IMPORTANT: The 'token' that results from execute is an encrypted response sent by // reCAPTCHA Enterprise to the end user's browser. // This token must be validated by creating an assessment. // See https://cloud.google.com/recaptcha-enterprise/docs/create-assessment }); } </script>
</head>
<body>
    現在のapiサーバー<br>
    Youtube-API:{{Youtube_API}}<br>
    Channel-API:{{Channel_API}}<br>
    Comments-API:{{Comments_API}}<br>
    <script>setTimeout(function (){location.reload();},5000)</script>
</body>
</html>
